xsd-tests/01-MEASUREMENT_TYPE/cef-test-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="FILE_NAME"/>
        <xs:element type="xs:string" name="FILE_FORMAT_VERSION"/>
        <xs:element type="xs:string" name="END_OF_RECORD_MARKER"/>
        <xs:element type="xs:string" name="include-start"/>
        <xs:element type="xs:string" name="include-end"/>

        <!--

        Instances:
            1..N

        Enumerated values:
            Activity_Index 
            Electric_Field 
            Electron_Drift  
            Emitted_Current
            Energetic_Particles 
            Instrument_Status 
            Ion_Composition
            Magnetic_Field 
            Neutral_Atom_Images 
            Neutral_Gas 
            Particle_Correlator 
            Radio_and_Plasma_Waves
            Radio_Soundings
            Spacecraft_Potential_Control 
            Spacecraft_Status 
            Thermal_Plasma
            

           <meta name="MEASUREMENT_TYPE">
                <ENTRY>"Electric_Field"</ENTRY>
            </meta>
        -->
        
        <xs:element name="meta" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="VALUE_TYPE" minOccurs="0"/>
              <xs:element type="xs:string" name="ENTRY" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>

        
        <xs:element name="var" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="xs:string" name="PARAMETER_TYPE"/>
              <xs:element type="xs:string" name="CATDESC"/>
              <xs:element type="xs:string" name="UNITS"/>
              <xs:element type="xs:string" name="SI_CONVERSION"/>
              <xs:element type="xs:string" name="FIELDNAM"/>
              <xs:element type="xs:string" name="FILLVAL"/>
              <xs:element type="xs:byte" name="SIGNIFICANT_DIGITS"/>
              <xs:element type="xs:string" name="LABLAXIS"/>
              <xs:element type="xs:string" name="VALUE_TYPE"/>
              <xs:element type="xs:float" name="DELTA_PLUS"/>
              <xs:element type="xs:float" name="DELTA_MINUS"/>
              <xs:element type="xs:string" name="ENTITY"/>
              <xs:element type="xs:string" name="PROPERTY"/>
              <xs:element type="xs:string" name="QUALITY"/>
              <xs:element type="xs:string" name="DEPEND_0"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="DATA_UNTIL"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>